<!-- <div class="wrapper"> -->
  <div class="container">
    <div class="banner-user" style="background-image: url('<%#= cloudinary_url @user.photo.path %>');">
      <div class="tabs">
        <a class="tab active" href="#">
          <h3><%#= @user.followers.count %></h3>
          <p>Followers</p>
        </a>
        <a class="tab" href="#">
          <h3><%= @user.followed_users.count %></h3>
          <p>Following</p>
        </a>
        <a class="tab" href="#">
          <h3>189</h3>
          <p>Upvoted</p>
        </a>
      </div>
    </div>
  </div>
  <div class="container-user">
    <div class="info-user">
      <% if user_signed_in? && current_user.facebook_picture_url %>
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/40x40" %>
        <%= image_tag avatar_url, class: "avatar-bordered dropdown-toggle", height: 50, width: 50 %><br>
        <% end %>
     <p><%= @user.first_name %> <%= @user.last_name %></p>
      <% if current_user.can_follow?(@user) %>
        <%= follow_button @user %>
      <% end %>
      <p>Ajouter une bio</p>
      <%= link_to 'edit your info', edit_user_path %>
      <%#= simple_form_for @user do |f| %>
        <%#= f.input :photo, as: :attachinary %>
      <%# end %>

      <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path %>
      <% end %>


    </div>
    <div class="proposal-user">
      <%= react_component "ProposalList",
      render(template: 'proposals/index.json.jbuilder'), prerender: true %>
    </div>
  </div>
<!-- </div> -->
