<div class="banner-proposal" style="background-image: url(<%= image_path "#{@proposal_picture.category}.jpeg" %>);">
</div>

<% if @proposals.empty? %>
  <p>Please, make the first proposal</p>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewProposalModal">new</button>
<% else %>
  <div class="container">
    <div class="row" style="margin-left: 70px; margin-right: 83px; ">
      <%= react_component "ProposalList",
      render(template: 'proposals/index.json.jbuilder'), prerender: true %> <!-- #SEO -->
    </div>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="NewProposalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@activity, @proposal] do |f| %>
          <%= f.input :subject %>
          <%= f.input :content %>
          <%= f.input :location %>
          <%= f.input :price %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>



